<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js PhoneBook</title>
  <link rel="stylesheet" href="css/todos.css"/>
</head>

<body>
  
  <div id="todoapp">
    
    <header>
      <h1>Phone Book</h1>
      <div>
        <label for="new-name">Name: </label>
        <input id="new-name" type="text" placeholder="What is your name?">
      </div>
      <div>
        <label for="new-surname">Surname: </label>
        <input id="new-surname" type="text" placeholder="What is your surname?">
      </div>
      <div>
        <label for="new-phonenumber">Phone Name: </label>
        <input id="new-phonenumber" type="text" placeholder="What is your phone number?">
      </div>
      <div>
        <label for="new-type">Type: </label>
        <input id="new-type" type="text" placeholder="home or job">
      </div>
      <br />
      <div>
        <button id="new-button" type="button">Add new phone mumber</button>
      </div>
    </header>
    <br />
    <section id="main">
      <br />
      <label for="toggle-all">&nbsp;Name List</label>
      <ul id="todo-list"></ul>
    </section>

    <footer>
      <div id="todo-count"></div>
    </footer>
    
  </div>
  
  <div id="instructions">
    Double-click to edit data.
  </div>
  
  <div id="credits">
    Created by
    <a href="http://sala3rectario.com">&Aacute;lvaro Salazar</a>.
  </div>

  <script src="lib/json2.js"></script>
  <script src="lib/jquery-1.7.1.js"></script>
  <script src="lib/underscore-1.3.1.js"></script>
  <script src="lib/backbone.js"></script>
  <script src="lib/backbone-localstorage.js"></script>
  <script src="todos.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <label><%= name %></label>
      <a class="destroy"></a>
    </div>
    <div class="edit">
      <label for="name">Name: </label>
      <input id="name" type="text" value="<%= name %>" />
      <button id="saveButton" type="button">Save data</button>
    </div>
    <div class="edit">
      <label for="surname">Surname: </label>
      <input id="surname" type="text" value="<%= surName %>" />
    </div>
    <div class="edit">
      <label for="phonenumber">Phone Number: </label>
      <input id="phonenumber" type="text" value="<%= phoneNumber %>" />
    </div>
    <div class="edit">
      <label for="type">Type: </label>
      <input id="type" type="text" value="<%= type %>" />
    </div>
  </script>

  <script type="text/template" id="stats-template">
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'Phone Number' : 'Phone Numbers' %></div>
  </script>

  </body>
</html>
